HttpConnection.responseHttpHeader is case-sensitive

### Prerequisites

- [X] This is not a Security Disclosure, otherwise please follow the guidelines in [Security Policy](https://github.com/adobe/aepsdk-edge-ios/security/policy).
- [X] I have searched in this repository's issues to see if it has already been reported.
- [X] I have updated to the latest released version of the SDK and the issue still persists.

### Bug summary

Response headers should be treated as case-insensitive keys as per [RFC 2616 section 4.2](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2), however the underlying API is using a standard swift dictionary for allHeaderFields, hence using case-sensitive key searches. See also [allHeaderFields](https://developer.apple.com/documentation/foundation/httpurlresponse/1417930-allheaderfields).

iOS 13+ added this new API which treats keys as case-insensitive values: [value(forHTTPHeaderField:)](https://developer.apple.com/documentation/foundation/httpurlresponse/3240613-value), but we still need custom search for iOS 12.

Add tests for headers with mixed-cases.

### Environment

iOS, AEPCore 5.2.0

### Steps to reproduce

Use charles/similar proxy and set response headers, then read those in the SDK using exact match or mixed matches.

### Current behavior

_No response_

### Expected behavior

_No response_

### Anything else?

_No response_